<launch>
  <arg name="use_rviz" default ="false" />
  <arg name="use_jsp" default="true" />
  <arg name = "robot" default= "nusim"/>
  <!--this arg can be 'circle', 'teleop','none'-->
  <arg name = "cmd_src" default="teleop" />

  <group if="$(arg use_rviz)">
    <!-- rviz will enable us to see the robot -->
    <node name="rviz" pkg="rviz" type="rviz" args="-d $(find nusim)/rviz/nusim.rviz" />
  </group>
  <!-- load yaml file into rosparam -->
  <rosparam command="load" file="$(find nusim)/config/basic_world.yaml" />
  <rosparam command="load" file="$(find nuturtle_description)/config/diff_params.yaml" />
  <rosparam command="load" file="$(find nusim)/config/fake_lidar.yaml" />


  <!-- load the urdf file into the parameter server -->
  <param name="robot_description" command="xacro '$(find nusim)/urdf/turtlebot3_burger.urdf.xacro' color:=red" />

  <!-- The robot_state_publisher reads the urdf from /robot_description parameter
      and listens to joint information on the /joint_states topic -->
  <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher"/>

  <group if="$(arg use_jsp)">
    <!-- The joint state publisher will be launched with a gui, read the urdf from /robot_description
  and publish the joint values on /joint_states --> 
    <node name="joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher" />
  </group>
  <!-- read nusim node and load the parameters inside launch-prefix ="gdb args"-->
  <node pkg="nusim" type="nusim" name="nusim" output="screen" if="$(eval arg('robot') == 'nusim')"/>

  <!--use teleop to control the robot-->
  <node name="turtlebot3_teleop_key" pkg="turtlebot3_teleop" type="turtlebot3_teleop_key" output="screen"
      if="$(eval arg('cmd_src') == 'teleop')"/>

  <!--convert between cmd_vel and wheel_velocity-->
  <node name="turtle_interface" pkg="nuturtle_control" type="turtle_interface"  />

  <!--draw the circle -->
  <node name="circle" pkg="nuturtle_control" type="circle"  
      if="$(eval arg('cmd_src') == 'circle')">
        <param name = "frequency" value = "50"/>
  </node>
  
 </launch>
