<launch>
  <arg name = "use_rviz" default = 'false'/>
    <rosparam command="load" file="$(find nuturtle_description)/config/diff_params.yaml" />
  <rosparam command="load" file="$(find nusim)/config/basic_world.yaml" />

  <node name="turtle_interface" pkg="nuturtle_control" type="turtle_interface"  />

  <!-- <node name="nusim" pkg="nusim" type="nusim" launch-prefix="gdb -rgs"/> -->

  <!-- <node name="rviz" pkg="rviz" type="rviz" args="-d $(find nusim)/rviz/nusim.rviz" 
        if="$(eval arg('use_rviz') == true)"/> -->


</launch>